#event_show.row
    .col-md-6.col-md-offset-3
        .panel.panel-default
            .panel.body
                %h1= @event.title
                %p= @event.date
                %p= @event.address
                = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}"
                %p= @event.description
            .panel-footer
                .row
                    .col-md-6
                        %p.user
                            by
                            = @event.user.email
                            
                    .col-md-6
                        .rsvp 
                        = button_to "Click to Rsvp!!!!!", rsvps_event_path(@event), class: "btn btn-primary", style: "margin-bottom: 10px;"
                    
                        -if can? :edit, @event || current_user.admin? 
                            = link_to "Edit", edit_event_path(@event), class: "btn btn-info"
                            |
                        -if can? :destroy, @event || current_user.admin? 
                            = link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
                        

                      





