#event_show.row
    .col-md-6.col-md-offset-3
        .panel.panel-default
            .panel.body
                %h1= @event.title
                %p= @event.description
            .panel-footer
                .row
                    .col-md-6
                        %p.user
                            by
                            = @event.user.email
                            
                    .col-md-6
                        .rsvp= button_to "Rsvp now", rsvps_event_path(@event), class: "btn btn-primary"
                        
                                

                        -if @event.user == current_user
                            = link_to "Edit", edit_event_path, class: "btn btn-info"
                            = link_to "Delete", event_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"





